// footer mobile

.footer {
  hr {
    margin-top: 3rem;
    background-color: $color-light;
  }

  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  // color: $color-d;
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // min-height: 500px;
  &--contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    flex-direction: column;
      &__header {
        @include h6;    
      }
    &__email {

      cursor: pointer;
      padding-bottom: 1rem;
    }

    &__phone {
      cursor: pointer;
    }

  }
}

@media screen and (min-width: 800px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;

    &--contact {
      padding-top: 3rem;
      flex-direction: row;

      &>div {
        flex-basis: 50%;
      }
    }
    .contact {
      flex-direction: row;
      &__header {
        @include h5;    
      }
  
      &__email {
        
    
      }
  
      &__phone {
        
      }
  
    }
  }
}