// two column 




@media screen and (min-width: $media-small) {
  
}

@media screen and (min-width: $media-med) {
  
}

@media screen and (min-width: $media-large) {
    .container {
        &__content {
            width: 100%;
            max-width: 1440px;
            margin: auto;
        }
    }
}

@media screen and (min-width: $media-xlarge) {
  
}